<h2><%= t('contacts.title') %></h2>
<h6><%= t('contacts.go') %></h6>
<p><%= t('contacts.address') %></p>
<h6><%= t('contacts.questions') %></h6>
<p>+7 (977) 566-23-80</p>
<h6><%= t('contacts.mail') %></h6>
<p>rromanovandrey@gmail.com</p>
