<h2><%= t('work.title') %></h2>
<div class="col-3 h4"><%= link_to t('work.noknod'), calc_noknod_path %></div>
<div class="col-2 h4"><%= link_to t('work.sort'), calc_sort_path %></div>
<div class="col-2 h4"><%= link_to t('work.comb'), calc_combinatoric_path %></div>
<div class="col-2 h4"><%= link_to t('work.trig'), calc_trigonometric_path %></div>