<!DOCTYPE html>
<html>
<head>
  <title><%= t "application.title" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%=link_to t("application.company"), root_url, class: "my-0 mr-md-auto font-weight-normal h5" %>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= content_tag :span do %>
      <%= link_to "Switch to English", locale: :en %>
    <% end unless current_page?(locale: :en) %>
    <%= content_tag :span do %>
      <%= link_to "Перевести на Русский", locale: :ru %>
    <% end unless current_page?(locale: :ru) %>
  </nav>
  <%if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path %>&nbsp;
    <%= link_to t("application.logout"), destroy_user_session_path, method: :delete %>
  <%else %>
    <%= link_to t("application.signup"), new_user_registration_path %>&nbsp;
    <%= link_to t("application.login"), new_user_session_path%>
  <%end %>
</div>
<div class="container">
  <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
  <%= yield %>
</div>
</body>
</html>
